<h2>Hello there {{name}}</h2>
<p>We're getting in touch because a change in the password was requisited for this account</p>
<p>If it was't you, plese considere changing your password</p>
<a href="{{link}}">Reset Pass</a>
<p>Please use this link to reset your password</p>
