<h2>Dear {{name}}</h2>
<p>We're getting in touch to informate that your account was terminated by one of our admins</p>
<p>If you want more informations about the cause of the deleption you can contact us at 4002-8922</p>
