<h2>Welcome to the Gratest Loterry App </h2>
<p>We're pleased to welcome you to TGL {{name}}, now you can use all our amazing services to become a better punter ;)</p>
<p>Don't loose a sec, and do your next bet rigth now!</p>
<p>-- TGL team</p>
